<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello LabelManagerWeb!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container-fluid">
              <a class="navbar-brand" href="/">Github Label Adder</a>
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <%= if @access_token do %>
                          <%= link("Log Out", to: auth_path(@conn, :delete), method: "delete", class: "navbar-text") %>
                      <% else %>
                          <%= link("Log In", to: auth_path(@conn, :index, "github")) %>
                      <% end %>
                  </li>
              </ul>
          </div>
      </nav>
    <div class="container-fluid">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  </body>
</html>
